body{
  margin: 0px;
}
/* Bordered form */
form {
    border: 3px solid #f1f1f1;
}

/* Full-width inputs */
input[type=text],
input[type=password],
input[type="email"] {
    width: 20%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Add a hover effect for buttons */
button:hover {
    opacity: 0.8;
}


/* Set a style for all buttons */
button {
    background-color: #04AA6D;
    color: white;
    padding: 12px 18px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    text-align: center;
    border-radius: 5px;
}



/* Center the avatar image inside this container */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

/* Avatar image */
img.avatar {
    width: 10%;
    border-radius: 50%;
}

/* Add padding to containers */
.container {
    padding: 16px;
    text-align: center;
}

/* The "Forgot password" text */
span.psw {
    padding-top: 16px;
}

.submitbtn {
    width: 20%;
}

/* Change styles for span button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }

    .cancelbtn {
        width: 100%;
    }
}

@media screen and (min-width: 375px) {
    span.psw {
        display: block;
        float: none;
    }

    .submitbtn {
        width: auto;
    }

        /* Full-width inputs */
    input[type=text],
    input[type=password] {
        width: 55%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        box-sizing: border-box;
    }
}

@media screen and (min-width: 768px) {

    input[type=text],
    input[type=password] {
        width: 30%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        box-sizing: border-box;
    }
}

@media screen and (min-width: 1024px) {
    input[type=text],
    input[type=password] {
            width: 30%;
            padding: 12px 20px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid #ccc;
            box-sizing: border-box;
        }
}
